<h1>Adventure</h1>

<h1>Adventure</h1>
<div class="adventure-list-container">
  {{#each adventure}}
    <div class="car-container">
      <img src="{{this.picture}}" alt="boat-picture" />
      <a href="/boat/{{this._id}}">{{this.vehiclename}}</a>
      <div class="car-price">
        <span class="price-span">price {{this.price}}</span>
        <a class="price-a" href="/boat/{{this._id}}">More Info</a>
      </div>
    </div>
  {{/each}}
</div>