<h1 class="heading">Boats</h1>
<img src="/images/boat.jpg" alt="" class="main-image" />

<div class="car-list-container">
  {{#each boat}}
    <div class="car-container">
      <img src="{{this.picture}}" alt="car-picture" />
      <a href="/boat/{{this._id}}">{{this.vehiclename}}</a>
      <div class="car-price">
        <span class="price-span">price {{this.price}}</span>
        <a class="price-a" href="/boat/{{this._id}}">More Info</a>
      </div>
    </div>
  {{/each}}
</div>