
  <h1>{{vehiclename}}</h1>
  <div class="car-detail-container">
    <img src="{{picture}}" alt="car-picture" />
    <div class="specification">
      <h2>Vehicle Specification</h2>
      <p><span class="float-left">Engine:</span><span
          class="float-right"
        >{{engine}}</span></p>
      <p><span class="float-left">BHP:</span><span
          class="float-right"
        >{{bhp}}</span></p>
      <p><span class="float-left">0-100 KM/H:</span><span class="float-right">
          {{zerotohundred}}</span></p>
      <p><span class="float-left">TOP SPEED:</span><span
          class="float-right"
        >{{topspeed}}</span></p>
      <p><span class="float-left">PRICE:</span><span
          class="float-right"
        >{{price}}</span></p>
      <p><span class="float-left">PASSENGERS:</span><span
          class="float-right"
        >{{passengers}}</span></p>

    </div>
  </div>

    </div>
  </div>

   {{!--  <a href='/cars/{{_id}}'>See details</a> --}}
      <form action='/search' method='post'>

      <label for='start-date'>Start Date</label>
      <input type='date' name='startDate' />

      <label for='end-date'>End Date</label>
      <input type='date' name='endDate' />

      <input type="text" name="vehiclename" value="{{vehiclename}}" hidden>
      <input type="number" name="price" value="{{price}}" hidden>

      <button type='submit'>Search availability</button>

    {{!-- date --}}
    {{!-- vehicle input: value = vehiclename --}}

   </form>
  </div>

  {{#if errorMessage}}
  <p>{{err}}</p>
  {{/if}}
