<h1>Cars</h1>
<div class="car-list-container">
  {{#car}}
    <div class="car-container">
      <img src="{{picture}}" alt="car-picture" />
      <a href="/car/{{_id}}">{{vehiclename}}</a>
      <div class="car-price">
        <span class="price-span">price {{price}}</span>
        <a class="price-a" href="/car/{{_id}}">More Info</a>
      </div>

    </div>
  {{/car}}
</div>
{{! if statement if car renders this, if boat renders this }}