<h1>Cars</h1>


<div class="car-list-container">
  {{#each car}}
    <div class="car-container">
      <img src="{{this.picture}}" alt="car-picture" />
      <a href="/car/{{this._id}}">{{this.vehiclename}}</a>
      <div class="car-price">
        <span class="price-span">price {{this.price}}</span>
        <a class="price-a" href="/car/{{this._id}}">More Info</a>
      </div>
    </div>
  {{/each}}
</div>

{{!-- if statement if car renders this, if boat renders this --}}