 <div>
    <h3>{{vehiclename}}</h3>
    <p>By: {{price}}</p>
    <p>By: {{passengers}}</p>
    <p>By: {{engine}}</p>
    <p>By: {{bhp}}</p>
    <p>By: {{zerotohundred}}</p>
    <p>By: {{topspeed}}</p>
   {{!--  <a href='/cars/{{_id}}'>See details</a> --}}
  </div>