<div class="login-container">

  <div class="specification margin-zero">
    <h2 class="heading">Summary</h2>
    <p><span class="float-left">Total Price:</span><span
        class="float-right"
      >{{totalPrice}}</span></p>
    <p><span class="float-left">Username:</span><span
        class="float-right"
      >{{username}}</span></p>
    <p><span class="float-left">Requested Car:</span><span
        class="float-right"
      >{{vehiclename}}</span></p>
    <p><span class="float-left">From:</span><span
        class="float-right"
      >{{startDate}}</span></p>
    <p><span class="float-left">To:</span><span
        class="float-right"
      >{{endDate}}</span></p>

  </div>

  <form action="/request" method="post">
    <input hidden type="text" name="vehiclename" value="{{vehiclename}}" />
    <input hidden type="text" name="username" value="{{username}}" />
    <input hidden type="date" name="startDate" value="{{startDate}}" />
    <input hidden type="date" name="endDate" value="{{endDate}}" />
    <input hidden type="number" name="totalPrice" value="{{totalPrice}}" />

    <button type="submit" class="price-button margin-top">Submit request</button>

  </form>

</div>